@page "/DemGroupViewPasswords"
@attribute [Authorize(Roles = "User, SuperUser")]
@inherits DemGroupViewPasswordsClass

@using IntuneLAPsAdmin.Models;
@using IntuneLAPsAdmin.Helpers;
<IsInDEMGroup>
    <h1>@Title</h1>

    @if (!ShowResults)
    {
        <p><em>No DEM Accounts Matching Your Security Groups</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Security Group</th>
                    <th>Email</th>
                    <th>Next Scheduled Change</th>
                    <th>Password</th>
                    <th>Account Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DEMPasswordResults record in results)
                {
                    DateTime NextChangeDate = record.NeedsReset ? record.ResetRequestedDate : record.ScheduledNextChange;
                    <tr>
                        <td>@record.Account</td>
                        <td>@record.AccountEmailAddress</td>
                        <td>@NextChangeDate.ToLocalTime()</td>
                        <td>
                            @if (string.IsNullOrEmpty(record.DecryptedPassword))
                            {
                                <button type="button" @onclick="(() => DecryptPassword(record))" class="btn btn-primary w-100">View Password</button>
                            }
                            else
                            {
                                @record.DecryptedPassword
                            }

                        </td>
                        <td>@(record.Enabled ? "Enabled" : "Disabled")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</IsInDEMGroup>
