@page "/viewpasswords"
@attribute [Authorize(Roles = "User, SuperUser")]
@inherits ViewPasswordsClass

@using IntuneLAPsAdmin.Models;
@using IntuneLAPsAdmin.Helpers;

<h1>@Title</h1>
<div class="row">
    <div class="col">
        <div class="ml-auto">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="Machine Name (Prefix1234567)" Id="SearchCriteriaMachine" @bind-value:event="oninput" @onkeyup="OnEnter" @bind-value="@HostnameFilter" class="form-control search">
                    <div class="input-group-append">
                        <span class="input-group-text" @onclick="OnSearchCriteria"><span class="oi oi-magnifying-glass"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="ml-auto">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="Account (admin)" Id="SearchCriteriaAccount" @bind-value:event="oninput" @onkeyup="OnEnter" @bind-value="@AccountNameFilter" class="form-control search">
                    <div class="input-group-append">
                        <span class="input-group-text" @onclick="OnSearchCriteria"><span class="oi oi-magnifying-glass"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@if (!ShowResults)
{
    <p><em>No Passwords Matching Criteria</em></p>
}
else
{
    <center><button type="button" class="btn btn-warning w-100">Next Password Reset Will Occur On @results.PasswordResetDate.ToLocalTime()</button></center>
    <table class="table">
        <thead>
            <tr>
                <th>Machine Name</th>
                <th>Account</th>
                <th>Password Changed Date</th>
                <th>Serial Number</th>
                <th>Public IP</th>
                <th>Status</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @{
                var ordered = results.value.OrderByDescending(x => x.PasswordChanged).OrderByDescending(n => n.Enabled);
                var currentPasswordDate = ordered.FirstOrDefault().PasswordChanged.ToLocalTime().Trim();
            }
            @foreach (AdminPasswordsResults record in ordered)
            {
                <tr class="@(currentPasswordDate.Equals(record.PasswordChanged.ToLocalTime().Trim()) && record.Enabled ? "btn-success" : "")">
                    <td>@record.Hostname</td>
                    <td>@record.Account</td>
                    <td>@record.PasswordChanged.ToLocalTime()</td>
                    <td>@record.SerialNumber</td>
                    <td>@record.PublicIp</td>
                    <td>@(record.Enabled ? "Enabled" : "Disabled")</td>
                    <td>
                        @if (string.IsNullOrEmpty(record.DecryptedPassword))
                        {
                            <button type="button" @onclick="(() => DecryptPassword(record))" class="btn btn-primary w-100">View Password</button>
                        }
                        else
                        {
                            @record.DecryptedPassword
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
